if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url 'https://raw.githubusercontent.com/nix-community/nix-direnv/ed2cb75553b4864e3c931a48e3a2cd43b93152c5/direnvrc' 'sha256-wCqFC2ARr9H4tQp7i3fhO6SMYg5tAF9ZrDr0Pri1Y6Y='
fi

use flake
