[user]
name = Robin Stumm
email = serverkorken@gmail.com

[alias]
st = status -s
lg = log --graph --branches --decorate --abbrev-commit --pretty=medium
co = checkout
ci = commit
spull = !git pull "$@" && git submodule sync --recursive && git submodule update --init --recursive

[status]
submoduleSummary = true

[diff]
submodule = log

